$base-darker: $grey-cool-90;
$base-dark: $grey-cool-60;
$base: $grey-cool-30;
$base-light: $grey-cool-10;
$base-lighter: $grey-cool-5;

$primary-dark: blue;
$secondary-dark: red;
/*$primary-darker: $blue-darker;
$primary-dark: $blue-dark;
$primary: $blue;
$primary-light: $blue-light;
$primary-lighter: $blue-lighter;

$secondary-darker: $gold-darker;
$secondary-dark: $gold-dark;
$secondary: $gold;
$secondary-light: $gold-light;
$secondary-lighter: $gold-lighter;

$accent-cool-darker: $teal-darker;
$accent-cool-dark: $teal-dark;
$accent-cool: $teal;
$accent-cool-light: $teal-light;
$accent-cool-lighter: $teal-lighter;

$accent-warm-darker: $pink-darker;
$accent-warm-dark: $pink-dark;
$accent-warm: $pink;
$accent-warm-light: $pink-light;
$accent-warm-lighter: $pink-lighter;*/
