.flex {
  display: flex;
  flex-direction: row;
  width: 100%;

  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

  &--col {
    flex-shrink: 0;
    width: 8.33%;

    &-auto {
      width: auto;
    }
    &-2 {
      flex-shrink: 0;
      width: 16.66%;
    }
    &-3 {
      flex-shrink: 0;
      width: 25%;
    }
    &-4 {
      flex-shrink: 0;
      width: 33.33%;
    }
    &-5 {
      flex-shrink: 0;
      width: 41.66%;
    }
    &-6 {
      flex-shrink: 0;
      width: 50%;
    }
    &-7 {
      flex-shrink: 0;
      width: 58.33%;
    }
    &-8 {
      flex-shrink: 0;
      width: 66.66%;
    }
    &-9 {
      flex-shrink: 0;
      width: 75%;
    }
    &-10 {
      flex-shrink: 0;
      width: 83.33%;
    }
    &-11 {
      flex-shrink: 0;
      width: 91.66%;
    }
    &-12 {
      flex-shrink: 0;
      width: 100%;
    }
  }

  &--align {
    &-start {
      align-items: flex-start;
    }
    &-center {
      align-items: center;
    }
    &-end {
      align-items: flex-end;
    }
    &-stretch {
      align-items: stretch;
    }
  }

  &--justify {
    justify-content: stretch;
    &-start {
      justify-content: flex-start;
    }
    &-center {
      justify-content: center;
    }
    &-end {
      justify-content: flex-end;
    }
  }

  &--gap {
    gap: 1rem;

    &-3xs {
      gap: 0.25rem;
    }
    &-2xs {
      gap: 1rem;
    }
    &-xs {
      gap: 2rem;
    }
    &-sm {
      gap: 3rem;
    }
    &-md {
      gap: 4rem;
    }
    &-lg {
      gap: 5rem;
    }
    &-2lg {
      gap: 8rem;
    }
  }
}
